<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
        <tr class="data-row" *ngFor="let satellite of satellites">
            <td>{{satellite.name}}</td>
            <td [class.warning]="satellite.isSpaceDebris()">{{satellite.type}}</td>
            <td>{{satellite.launchDate}}</td>
            <td>{{satellite.orbitType}}</td>
            <td>{{satellite.operational}}</td>
        </tr>
</table>


<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

